<?xml version="1.0" encoding="utf-8"?>
<module>
    <grants />
    <permissions />
	<actions>
        <action name="procMemorizeInsertModuleConfig" type="controller" standalone="true" />
	</actions>
    <menus>
        <menu name="memorize">
            <title xml:lang="ko">히스토리</title>
        </menu>
    </menus>
</module>
